body {
  font-family: Arial, sans-serif;
  background-color: #412525;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: #c6a1a1;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #e70000;
  border-radius: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #c49191;
}

.product-table thead th {
  background: #8f6565;
}

.category-row {
  background: #b77878;
  font-weight: bold;
}
